.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.pi-angle-left {
  font-size: 1.5rem;
}

h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%; /* Ajuste selon la taille du conteneur */
  margin: 0;
  font-size: 2rem;
}

.pi-users {
  font-size: 1.5em;
}

/* Make the scrollbar visible in mobile browsers */
@media screen and (max-width: 768px) {
  h2.long-name {
    font-size: 1rem; /* Si le texte est long */
  }
}




/*!* Animations *!*/
/*@keyframes slideInRight {*/
/*  from {*/
/*    transform: translateX(100%);*/
/*    opacity: 0;*/
/*  }*/
/*  to {*/
/*    transform: translateX(0);*/
/*    opacity: 1;*/
/*  }*/
/*}*/

/*@keyframes slideOutRight {*/
/*  from {*/
/*    transform: translateX(0);*/
/*    opacity: 1;*/
/*  }*/
/*  to {*/
/*    transform: translateX(100%);*/
/*    opacity: 0;*/
/*  }*/
/*}*/

/*.slide-in-right {*/
/*  animation: slideInRight 0.3s ease-out forwards;*/
/*}*/

/*.p-dialog.slide-in-right[aria-hidden="true"] {*/
/*  animation: slideOutRight 0.3s ease-in forwards;*/
/*}*/

/*!* Styles généraux *!*/
/*.p-dialog {*/
/*  max-height: 100%;*/
/*}*/

/*.popup-content {*/
/*  padding: 1.5rem;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 2rem;*/
/*}*/

/*!* Section membres *!*/
/*.members-section {*/
/*  overflow: hidden;*/
/*}*/

/*.members-section h3 {*/
/*  font-size: 1.25rem;*/
/*  color: var(--text-color);*/
/*  margin: 0 0 1rem 0;*/
/*  font-weight: 600;*/
/*}*/

/*.members-list {*/
/*  overflow-y: auto;*/
/*  max-height: calc(100vh - 200px);*/
/*}*/

/*.member-item {*/
/*  padding: 0.75rem;*/
/*  border-bottom: 1px solid #eee;*/
/*  transition: background-color 0.2s;*/
/*}*/

/*.member-item:hover {*/
/*  background-color: #f8f9fa;*/
/*}*/

/*.member-name {*/
/*  color: var(--text-color);*/
/*  font-size: 1rem;*/
/*}*/

/*!* Section clé du canal *!*/
/*.channel-key-section h3 {*/
/*  font-size: 1.25rem;*/
/*  color: var(--text-color);*/
/*  margin: 0 0 1rem 0;*/
/*  font-weight: 600;*/
/*}*/

/*.channel-key-container {*/
/*  display: flex;*/
/*  gap: 0.75rem;*/
/*  align-items: center;*/
/*}*/

/*.channel-key-container input {*/
/*  padding: 0.75rem;*/
/*  border-radius: 6px;*/
/*  color: var(--text-color);*/
/*  font-family: monospace;*/
/*  font-size: 0.95rem;*/
/*  flex: 1;*/
/*}*/

/*.channel-key-container .p-button {*/
/*  border-radius: 6px;*/
/*  padding: 0.75rem;*/
/*  background-color: #f0f0f0;*/
/*  border: none;*/
/*}*/

/*.channel-key-container .p-button:hover {*/
/*  background-color: #e0e0e0;*/
/*}*/
