<section class="profile" *ngIf="!isLoading">
  <div class="header">
    <p-button [text]="true" severity="secondary" [style]="{ height: '3.5rem', borderRadius: '100%' }" (click)="goToHome()">
      <i class="pi pi-angle-left"></i>
    </p-button>
  </div>

  <div class="user">
    <div class="infos" *ngIf="auth">
      <div class="user-img">
        <i class="pi pi-user"></i>
      </div>
      <h2>{{ auth.name }}</h2>
      <p-button label="Modifier le Profile" [style]="{ width: '100%' }" />
    </div>

    <p-divider layout="horizontal" />

    <div class="buttons">
      <p-button severity="secondary" label="Paramètres" [style]="{ width: '100%' }" />
      <p-button severity="secondary" label="Informations" [style]="{ width: '100%' }" />
      <p-button severity="danger" label="Se déconnecter" [style]="{ width: '100%' }" (click)="logout()" />
    </div>
  </div>
</section>

<p *ngIf="!auth">No auth found.</p>
