<section class="create-channel">
  <div class="header">
    <i class="pi pi-angle-left" (click)="goToBack()"></i>
  </div>

  <form [formGroup]="createChannelForm" (ngSubmit)="createChannel()">
    <div class="form-group">
      <i class="pi pi-plus-circle"></i>
      <h2>Créer un channel</h2>
      <p>Créez votre propre channel et partagez la clé avec vos amis pour qu’ils puissent vous rejoindre. Entrez simplement un nom et lancez-vous !</p>
      <input
        id="name"
        type="text"
        pInputText
        variant="filled"
        maxlength="25"
        formControlName="name"
      />
      <p-message *ngIf="createChannelForm.get('name')?.hasError('minlength') && createChannelForm.get('name')?.touched" severity="error" text="Le nom doit contenir au moins 3 caractères"></p-message>
      <p-message *ngIf="createChannelForm.get('name')?.hasError('maxlength') && createChannelForm.get('name')?.touched" severity="error" text="Le nom doit contenir au maximum 25 caractères"></p-message>
    </div>

    <div class="form-actions">
      <p-button type="submit" label="Créer le channel" [style]="{ width: '100%' }" [disabled]="createChannelForm.invalid" />
    </div>
  </form>
</section>
