<section class="channel">
  <div class="header">
    <i class="pi pi-angle-left" (click)="goToBack()"></i>
    <h1 *ngIf="channel">{{ channel.name }}</h1>
    <i class="pi pi-users"></i>
  </div>

  <div class="message">
    <p-card *ngFor="let msg of messages" [style]="{ borderRadius: '1rem' }">
      <div class="card">
        <span class="name">{{ msg.author.name }}</span>
        <span class="content">{{ msg.content }}</span>
      </div>
    </p-card>
  </div>

  <div class="send-message">
    <span>Envoyer un message</span>
  </div>
</section>
