<section *ngIf="channel" class="channel">
  <div class="header">
    <i class="pi pi-angle-left" (click)="goToBack()"></i>
    <h1>{{ channel.name }}</h1>
    <i class="pi pi-users"></i>
  </div>

  <div #messageContainer class="message">
    <p-card *ngFor="let msg of messages" [style]="{ borderRadius: '1rem' }">
      <div class="card">
        <span
          class="name"
          [ngClass]="{
            'current-user-message': msg.author.id === currentUser?.id
          }"
        >
          {{ msg.author.name }}
        </span>
        <span class="content">{{ msg.content }}</span>
      </div>
    </p-card>
  </div>

  <div class="send-message">
    <input
      id="send"
      type="text"
      [(ngModel)]="newMessageContent"
      pInputText
      variant="filled"
      placeholder="Envoyer un Chat"
    />
    <p-button icon="pi pi-send" [rounded]="true" severity="secondary" [style]="{ padding: '1.5rem' }" (click)="sendMessage(channel.id)"/>
  </div>
</section>
