<section class="channel" *ngIf="channel">
  <div class="header">
    <p-button [text]="true" severity="secondary" [style]="{ height: '3.5rem', borderRadius: '100%' }" (click)="goToHome()">
      <i class="pi pi-angle-left"></i>
    </p-button>
    <h2 [ngClass]="{ 'long-name': channel.name.length > 10 }">
      {{ channel.name }}
    </h2>
    <p-button [text]="true" severity="secondary" [style]="{ height: '3.5rem', borderRadius: '100%' }" (click)="goToHome()">
      <i class="pi pi-users"></i>
    </p-button>
  </div>

  <div #messageContainer class="message">
    <p-card *ngFor="let msg of messages" [style]="{ borderRadius: '1rem' }">
      <div class="card">
        <span
          class="name"
          [ngClass]="{
            'current-user-message': msg.author.id === currentUser?.id
          }"
        >
          {{ msg.author.name }}
        </span>
        <span class="content">{{ msg.content }}</span>
      </div>
    </p-card>
  </div>

  <div class="send-message">
    <input
      id="send"
      type="text"
      [(ngModel)]="newMessageContent"
      pInputText
      variant="filled"
      placeholder="Envoyer un Chat"
    />
    <p-button icon="pi pi-send" [rounded]="true" severity="secondary" [style]="{ padding: '1.5rem' }" (click)="sendMessage(channel.id)"/>
  </div>
</section>

<app-channel-skeleton *ngIf="!channel" />
