<section>
  <div class="header">
    <h1>KeyChat</h1>
    <i class="pi pi-user" (click)="goToProfile()"></i>
  </div>
  <div class="channels">
    <p-card *ngFor="let channel of channels" [style]="{ borderRadius: '1rem', cursor: 'pointer' }">
      <div class="card-content">
        <i class="pi pi-users"></i>
        <span>{{ channel.name }}</span>
        <i class="pi pi-angle-right"></i>
      </div>
    </p-card>
  </div>

  <div class="add-content">
    <i class="pi pi-plus-circle" (click)="toggleDrawer()"></i>
    <span>Ajouter un channel</span>
  </div>
</section>

<!-- Passing visible status from HomeComponent to DrawerComponent -->
<app-drawer [visible]="visible" (visibleChange)="visible = $event" />
