<section class="home">
  <div class="header">
    <h1>KeyChat</h1>
    <p-button [text]="true" severity="secondary" [style]="{ height: '3.5rem', borderRadius: '100%' }" (click)="goToProfile()">
      <i class="pi pi-user"></i>
    </p-button>
  </div>

  <div class="channels">
    <p-button
      *ngFor="let channel of channels"
      severity="secondary"
      [style]="{ width: '100%', height: '5rem', borderRadius: '1rem' }"
      (click)="goToChannel(channel.id)"
    >
      <div class="card">
        <i class="pi pi-users"></i>
        <span>{{ channel.name }}</span>
        <i class="pi pi-angle-right"></i>
      </div>
    </p-button>
  </div>

  <div class="add-content">
    <i class="pi pi-plus-circle" (click)="toggleDrawer()"></i>
    <span>Ajouter un channel</span>
  </div>
</section>

<!-- Passing visible status from HomeComponent to DrawerComponent -->
<app-drawer [visible]="visible" (visibleChange)="visible = $event" />
