<section>
  <h1>KeyChat</h1>
  <div class="channels">
    <p-card [style]="{ borderRadius: '1rem' }">
      <div class="card-content">
        <i class="pi pi-users"></i>
        <span>CGN 11/11</span>
        <i class="pi pi-angle-right"></i>
      </div>
    </p-card>
    <p-card [style]="{ borderRadius: '1rem' }">
      <div class="card-content">
        <i class="pi pi-users"></i>
        <span>CGN 11/11</span>
        <i class="pi pi-angle-right"></i>
      </div>
    </p-card>
  </div>
</section>

