<p-button *ngIf="!isSmallScreen" #emojiButton icon="pi pi-face-smile" [rounded]="true" severity="secondary" [style]="{ padding: '1.5rem' }" (click)="toggleEmojiDialog()"/>

<ch-dialog
  *ngIf="!isSmallScreen"
  [(visible)]="visible"
  [target]="emojiButtonElement"
  [positions]="dialogPositions"
>
  <ng-container content>
    <ch-emoji-picker
      [height]="500"
      [width]="500"
      (onEmojiSelected)="handleEmojiSelected($event)"
    >
    </ch-emoji-picker>
  </ng-container>
</ch-dialog>
