@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
}

/* Application d'un fond clair si l'utilisateur a un mode clair système */
@media (prefers-color-scheme: light) {
  body {
    background: var(--p-surface-50);
  }
}

/* Application d'un fond sombre si l'utilisateur a un mode sombre système */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--p-surface-950);
  }
}

.p-light {
  --p-surface-50: #ffffff;
  --p-primary-color: #3b82f6;
}

.p-dark {
  --p-surface-950: #09090b;
  --p-primary-color: #3b82f6;
}

