@import "primeicons/primeicons.css";
@font-face {
  font-family: 'SchibstedGrotesk-Black';
  src: url('../public/fonts/SchibstedGrotesk-Black.ttf');
}

* {
  font-family: SchibstedGrotesk-Black, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: 0 8rem;
}

@media screen and (max-width: 1300px) {
  section {
    padding: 0 1.5rem;
  }
}

/* Application d'un fond clair si l'utilisateur a un mode clair système */
@media (prefers-color-scheme: light) {
  :root {
    --mode-color: #e7e7ee;
    --green-color: #08ad45;
    --text-color: #3b3b3b;
  }

  body {
    background: var(--mode-color);
  }

  p {
    color: var(--text-color);
  }
}

/* Application d'un fond sombre si l'utilisateur a un mode sombre système */
@media (prefers-color-scheme: dark) {
  :root {
    --mode-color: #000000;
    --green-color: #16a34a;
    --text-color: #a1a1a1;
  }

  body {
    background: var(--mode-color);
  }

  p {
    color: var(--text-color);
  }
}

