@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
}

section {
  padding: 0 1.5rem;
}

/* Application d'un fond clair si l'utilisateur a un mode clair système */
@media (prefers-color-scheme: light) {
  :root {
    --mode-color: #f1f1f1;
    --primary-color: #3b60f6;
    --green-color: #08ad45;
    --text-color: #3b3b3b;
  }

  body {
    background: var(--mode-color);
  }

  p {
    color: var(--text-color);
  }
}

/* Application d'un fond sombre si l'utilisateur a un mode sombre système */
@media (prefers-color-scheme: dark) {
  :root {
    --mode-color: #000000;
    --primary-color: #3b82f6;
    --green-color: #16a34a;
    --text-color: #a1a1a1;
  }

  body {
    background: var(--mode-color);
  }

  p {
    color: var(--text-color);
  }
}

